<ion-header no-border>
    <ion-toolbar class="imagen-header ion-no-padding">
        <ion-item class="ion-no-padding" lines="none">
            <img class="imagen-header" src="assets/img/Cabecera Membrete1.jpg" alt="Imágen de cabecera">
        </ion-item>
    </ion-toolbar>
    <ion-toolbar mode="ios" color="danger">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="mostrarBackButton()" defaultHref="home" text="Atrás"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center ion-text-capitalize">{{titulo}}</ion-title>
        <ion-buttons *ngIf="mostrarMenu()" slot="end">
            <ion-menu-button menu="menuPrincipal"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>