<app-header titulo="Configuración"></app-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="fixed">Ip servidor</ion-label>
                    <ion-input #servidorIp autofocus="true" placeholder="Ejemplo: 127.0.0.1" type="text" [value]="config.servidorIp" (ionChange)="actualizarcampoConfig('servidorIp', servidorIp.value)"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom">
            <ion-col>
                <ion-item>
                    <ion-label position="fixed">Puerto</ion-label>
                    <ion-input #servidorPuerto placeholder="Ejemplo: 5544" type="text" [value]="config.servidorPuerto" (ionChange)="actualizarcampoConfig('servidorPuerto', servidorPuerto.value)">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col>
                <p>Seleccione el logo de la empresa</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>

                <ion-thumbnail class="logo-empresa borde" (click)="cambiarLogoEmpresaClick()">
                    <ion-icon color="medium" *ngIf="!config.logoEmpresa" name="ios-image"></ion-icon>
                    <ion-img *ngIf="config.logoEmpresa" [src]="config.logoEmpresaUtilizable"></ion-img>
                </ion-thumbnail>

            </ion-col>
        </ion-row>
        <ion-row *ngIf="mostrarRuta">
            <ion-col size="12">
                <p *ngIf="config.logoEmpresa">
                    {{config.logoEmpresa}}
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="danger" expand="block" (click)="guardarConfiguracionClick()">
                    Guardar
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="danger" expand="block" (click)="configurarImpresoraClick()">
                    Configurar impresora
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="danger" expand="block" (click)="ValidarLicencia()">
                    Validar Licencia
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="danger" expand="block">
                    V. 21/Oct/2021
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>