<app-header titulo="Menú"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>

        <ion-button expand="block" color="danger" (click)="consultarContrato()">
          Consultar contrato
        </ion-button>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="consultarPago()">
          Consultar pago
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="cuadreCaja()">
          Cuadre caja
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="geolicalizacion()">
          Geolocalización
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="configurarImpresora()">
          Configurar impresora
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <app-logo-empresa></app-logo-empresa>

      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>