
<ion-content padding class="background">

  <ion-grid class="grid1">
  
    <ion-row class="row1">
      <ion-col >
      
      </ion-col>
  </ion-row>
  
      <ion-row class="row2">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              
              <ion-row>
                
                  <ion-col>
                      <ion-list>
                        <ion-row class="row4">
                          <ion-col class="imglogo">
                            <ion-img src="assets/img/App.png"></ion-img>
                          </ion-col>
                        </ion-row>
  
                          <ion-item>

                            <ion-label color="primary" position="floating">Usuario</ion-label>
                            <!-- <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
                         -->
                              
                              <ion-input #userName autofocus="true" placeholder="Ingresa Tu Usuario" clearInput="true" clearOnEdit="true" color="danger" type="text" [value]="usuario"
                                (ionChange)="usuario = userName.value"></ion-input>

          
                          </ion-item>
                          <ion-item>
                            <ion-label color="primary" position="floating">Clave</ion-label>
                         
                            

                            <ion-input  #password type="password" placeholder="Ingresa Tu Clave" clearInput="true" clearOnEdit="true" color="danger" [value]="clave"
                              (ionChange)="clave = password.value"></ion-input>
                        </ion-item>
  
                      </ion-list>
                      
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                    <div id="recaptcha-container"></div>
                      <ion-button style="border-radius: 10%;" color="danger" fill="solid" expand="full" (click)="iniciarSesion()">
                        Ingresar
                      </ion-button>
                  </ion-col>
              </ion-row>
              <ion-row class="row3" >
                <ion-col class="img-container">
                    <ion-label  (click)="irAConfiguracion()" color="danger">
                        <h3>Configuración</h3>
                        
                    </ion-label>
              
                    
                </ion-col>
              </ion-row> 
             
          </ion-grid>
          
      </div>
     
    
      
  </ion-slide>
  
</ion-content>


