<app-header titulo="registrar pago"></app-header>

<ion-content>
    <app-datos-contrato [contrato]="contrato" [modo]="modoVisualizarContrato"></app-datos-contrato>
    <div class="ion-padding">
        <h5 class="semi-titulo">Datos del pago</h5>
    </div>
    <ion-grid fixed *ngIf="registroPago">
        <ion-row class="ion-align-items-center">
            <ion-col size="4">Cuotas a pagar</ion-col>
            <ion-col size="2">
                <ion-select class="select-full-width" cancelText="Cancelar" placeholder="Seleccione cantidad de cuotas" [value]="registroPago.CANTIDADCUOTAS" (ionChange)="actualizarCantidadCuotas($event)">
                    <ion-select-option *ngFor="let cuota of listCantidadCuotas" [value]="cuota">{{ cuota }}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="4">Total</ion-col>
            <ion-col size="3">
                <ion-input #valorInput color="danger" value="{{ registroPago.VALOR }}" disabled="{{ isDisabled }}" (ionChange)="registroPago.VALOR = valorInput.value"> </ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="4">Descuento</ion-col>
            <ion-input #descuentoInput color="danger" value="{{ registroPago.DESCUENTO }}" (ionChange)="registroPago.DESCUENTO = descuentoInput.value"> </ion-input>
        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col size="4">Forma de pago</ion-col>
            <ion-col size="8">

               <ion-select  #selectFormaPago cancelText="Cancelar" placeholder="Seleccione El Tipo De Pago" [value]="nvoFormaPago" (ionChange)="actualizatipopago($event)">
                    <ion-select-option *ngFor="let tipo of tipopago" [value]="tipo.NombreTipoPago"> {{tipo.NombreTipoPago}}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
       
        <ion-row class="ion-align-items-center">
            <ion-col size="4">Fecha pago</ion-col>
            <ion-col size="8">
                <ion-text class="ion-text-capitalize" color="danger">
                    <span>{{ registroPago.FECHAPAGOR | date:'MMMM dd yyyy':'':'es-Co' }}</span></ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="4">Observaciones</ion-col>
            <ion-col size="8">
                <ion-textarea #observacionesInput rows="4" placeholder="Ingresa alguna observación" [value]="registroPago.OBSERVACIONES" (ionChange)="registroPago.OBSERVACIONES = observacionesInput.value">
                </ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="4">Nro. Referencia</ion-col>
            <ion-col size="8">
                <ion-textarea #referenciaInput rows="4" placeholder="Ingresa la referencia" [value]="registroPago.NROREF" (ionChange)="registroPago.NROREF = referenciaInput.value">
                </ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="contrato">
            <ion-col size="12">
                <ion-button color="danger" (click)="guardar()">
                    Guardar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>