<app-header titulo="registro gestión"></app-header>

<ion-content>
    <app-datos-contrato [contrato]="contrato" [modo]="modoVisualizarContrato"></app-datos-contrato>
    <div class="ion-padding">
        <h5 class="semi-titulo">Datos de la gestión</h5>
    </div>
    <ion-grid fixed>
        <ion-row class="ion-align-items-center">
            <ion-col size="5">Tipo gestión</ion-col>
            <ion-col size="7">
                <ion-select placeholder="Seleccione un tipo de gestión" okText="Escoger" cancelText="Cancelar" [value]="gestion.TipoGestion" (ionChange)="tipoGestion_Changed($event)">
                    <ion-select-option *ngFor="let tipoGestion of tiposGestion" [value]="tipoGestion">
                        {{ tipoGestion.Novedad }}
                    </ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="5">Fecha reprogramación</ion-col>
            <ion-col size="7">
                <ion-text color="danger">
                    <ion-datetime displayFormat="YYYY MMM DD" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" value="{{ textoBusqueda | date:'yyyy-MM-dd'}}" (ionChange)="cambiofecha($event)" cancelText="Cancelar"></ion-datetime>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="5">Observaciones</ion-col>
            <ion-col size="7">
                <ion-textarea rows="4" placeholder="Ingresa alguna observación" [value]="gestion.Observaciones" (ionChange)="observacion_Changed($event)">
                </ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center" size="12">
                <ion-button color="danger" (click)="onClick()">
                    Guardar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>