<app-header titulo="Home"></app-header>

<ion-content class="ion-padding">
    <h3 *ngIf="sesionLocal.sesionIniciada">Bienvenido {{ sesionLocal.sesionUsuario.NOMBRES }}</h3>
    <!-- <h2>Haga click en los botones para ir a las respectivas pantallas</h2>
  <ion-list>
    <ion-item button routerLink="/config">
      <ion-label>Configuración</ion-label>
    </ion-item>
    <ion-item button routerLink="/login">
      <ion-label>Login</ion-label>
    </ion-item>
    <ion-item button routerLink="/">
      <ion-label>Menú</ion-label>
    </ion-item>
    <ion-item button routerLink="/consultar-contrato">
      <ion-label>Consultar contrato</ion-label>
    </ion-item>
    <ion-item button routerLink="/registrar-pago">
      <ion-label>Registrar Pago</ion-label>
    </ion-item>
    <ion-item button routerLink="/registrar-pago2">
      <ion-label>Registrar Pago 2</ion-label>
    </ion-item>
    <ion-item button routerLink="/consultar-pago">
      <ion-label>Consultar Pago</ion-label>
    </ion-item>
    <ion-item button routerLink="/registro-gestion">
      <ion-label>Registro Gestión</ion-label>
    </ion-item>
    <ion-item button routerLink="/registro-gestion2">
      <ion-label>Registro Gestión 2</ion-label>
    </ion-item>
    <ion-item button routerLink="/actualizar-datos">
      <ion-label>Actualizar datos</ion-label>
    </ion-item>
    <ion-item button routerLink="/cuadre-caja">
      <ion-label>Cuadre Caja</ion-label>
    </ion-item>
    <ion-item button routerLink="/geolocalizacion">
      <ion-label>Geolocalización</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>