<app-header titulo="consultar contrato"></app-header>

<ion-content>

    <div class="ion-padding" *ngIf="!consultandoContrato && ((criterioBusqueda === 'CEDULA' && contratos.length === 0)  || (criterioBusqueda === 'CONTRATO' && !contrato))">
        <ion-text color="danger">
            <p>No se encontró algùn contrato, intente nuevamente</p>
        </ion-text>
    </div>

    <div class="ion-margin-bottom" *ngIf="criterioBusqueda === 'CEDULA' && contratos.length > 0">
        <div class="ion-padding">
            <h3>Seleccione un contrato</h3>
        </div>
        <ion-list>
            <ion-item button="true" (click)="seleccionarContrato(i)" *ngFor="let contrato of contratos; let i=index;">
                <ion-label>Nro. Contrato: {{ contrato.contrato }}</ion-label>
            </ion-item>
        </ion-list>
    </div>

    <app-datos-contrato [contrato]="contrato" [modo]="modoVisualizarContrato" *ngIf="!consultandoContrato && contrato">
    </app-datos-contrato>

    <div class="ion-padding" *ngIf="mostrarUltimoPago">
        <h5 class="semi-titulo">Último pago</h5>
    </div>
    <ion-grid fixed *ngIf="mostrarUltimoPago">
        <ion-row>
            <ion-col size="5">Fecha último pago</ion-col>
            <ion-col size="7">{{ ultimoPago.fechaUltimoPago }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">Nro documento</ion-col>
            <ion-col size="7">{{ ultimoPago.numeroDocumento }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">Valor</ion-col>
            <ion-col size="7">{{ ultimoPago.valor }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">Usuario</ion-col>
            <ion-col size="7">{{ ultimoPago.usuario }}</ion-col>
        </ion-row>
    </ion-grid>
    <div class="ion-padding">

        <ion-button color="danger" (click)="verpagos()">
            Ultimos Pagos
        </ion-button>
        <ion-button color="danger" (click)="verbeneficiarios()">
            Grupo Reportado
        </ion-button>
        <ion-button color="danger" (click)="registrarPago()">
            Pagar
        </ion-button>
        <ion-button color="danger" (click)="registrarGestion()">
            Gestión
        </ion-button>
        <ion-button *ngIf="!isOffline" color="danger" (click)="actualizarContrato()">
            Actualizar
        </ion-button>
        <ion-button color="danger" (click)="verNovedades()">
            Ultimas Novedades
        </ion-button>
        <ion-button color="danger" (click)="verAdicionales()">
            Servicios Adicionales
        </ion-button>
    </div>
</ion-content>