<div class="ion-padding">
  <h5 class="semi-titulo ion-text-center">Confirmación del pago</h5>
</div>
<ion-grid fixed>
  <ion-row class="ion-align-items-center">
    <ion-col size="4">Contrato</ion-col>
    <ion-col size="4">
      <ion-text color="danger">
        <span *ngIf="registroPago">{{ registroPago.IDCONTRATO }}</span>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="4">Nombre</ion-col>
    <ion-col size="8">
      <ion-text color="danger">
        <span *ngIf="registroPago">{{ registroPago.titular }}</span>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="4">
      Valor neto
    </ion-col>
    <ion-col size="8">
      <ion-text color="danger">
        <span *ngIf="registroPago">{{ registroPago.CUOTAMENSUAL | currency:'COP':'symbol-narrow':'4.2-2' }}</span>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="4">
      Descuento
    </ion-col>
    <ion-col size="8">
      <ion-text>
        <span *ngIf="registroPago">{{ registroPago.DESCUENTO | currency:'COP':'symbol-narrow':'4.2-2' }}</span>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="4">
      Valor total
    </ion-col>
    <ion-col size="8">
      <ion-text color="danger">
        <span *ngIf="registroPago">{{ registroPago.VALOR | currency:'COP':'symbol-narrow':'4.2-2' }}</span>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="12">¿Está seguro que desea realizar el pago?</ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col class="ion-justify-right" size="6">
      <ion-button color="success" expand="block" (click)="aceptar()">
        Si
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="danger" expand="block" (click)="cancelar()">
        No
      </ion-button>
    </ion-col>
  </ion-row>

</ion-grid>