<app-header titulo="consultar contrato"></app-header>

<ion-content>
    <ion-grid fixed>
        <ion-row class="ion-align-items-center">
            <ion-col size="4">Buscar por</ion-col>
            <ion-col size="8">
                <ion-select #selectCriterio cancelText="Cancelar" placeholder="Seleccione Criterio Búsqueda" [value]="criterioBusqueda" (ionChange)="criterioBusqueda = selectCriterio.value">
                    <ion-select-option value="CEDULA">Cédula</ion-select-option>
                    <ion-select-option value="CONTRATO">Contrato</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="4">Criterio</ion-col>
            <ion-col size="8">
                <ion-input #valueCriterio placeholder="Search" [value]="textoBusqueda" (ionChange)="textoBusqueda = valueCriterio.value"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-button color="danger" expand="block" (click)="consultarContrato()">
                    Consultar Contrato
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="danger" expand="block" (click)="cuadrecaja()">
                    Cuadre Caja
                </ion-button>
            </ion-col>
        </ion-row>
       <!-- <ion-row>
            <ion-col>
                <ion-button color="danger" expand="block" (click)="consultarruta()">
                    Consultar Ruta
                </ion-button>
            </ion-col>
        </ion-row>-->

        <ion-row>
            <ion-col>
                <ion-button *ngIf="!isOffline" color="danger" expand="block" (click)="listaPagos()">
                    Lista Pagos
                </ion-button>
            </ion-col>
        </ion-row>

        <!-- <ion-row>
            <ion-col>
                <ion-button color="danger" expand="block" (click)="actualizarDatosContacto()">
                    Actualizar Datos Contacto
                </ion-button>
            </ion-col>
        </ion-row> -->
    </ion-grid>
</ion-content>