<app-header titulo="actualizar datos"></app-header>

<ion-content>
    <app-datos-contrato [contrato]="contrato" [modo]="modoVisualizarContrato"></app-datos-contrato>


    <div class="ion-padding">
        <h5 class="semi-titulo">Datos Para Actualizar</h5>
    </div>
    <ion-grid fixed>


        <ion-row class="ion-align-items-center">
            <ion-col size="4">Telefono</ion-col>
            <ion-col size="8">
                <ion-input #telefonoInput rows="4" maxlength="10" placeholder="Ingrese Telefono" [value]="contrato.telefono" (ionChange)="contrato.telefono = telefonoInput.value">
                </ion-input>
            </ion-col>
        </ion-row>



        <ion-row class="ion-align-items-center">
            <ion-col size="4">Celular</ion-col>
            <ion-col size="8">
                <ion-input #movilInput rows="4" maxlength="10" placeholder="Ingrese Celular" [value]="contrato.movil" (ionChange)="contrato.movil = movilInput.value">
                </ion-input>
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col size="4">Email</ion-col>
            <ion-col size="8">
                <ion-input #emailInput ngControl="email" rows="4" placeholder="Ingresa Email valido" [value]="contrato.email" (ionChange)="contrato.email = emailInput.value" (focusout)="emailvalidate($event)" type="email"></ion-input>
            </ion-col>
            <ion-col color="danger" expand="block" size="12">
                <ion-text color="danger">
                    <span *ngIf="mailvalidate">Email Es Incorrecto!</span>
                </ion-text>
            </ion-col>


        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col size="4">Departamento</ion-col>
            <ion-col size="8">
                <ion-select cancelText="Cancelar" placeholder="Seleccione un Departamento" [value]="contrato.departamento" (ionChange)="actualizardpto($event)">
                    <ion-select-option *ngFor="let dpto of departamento">{{ dpto }}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>


        <ion-row class="ion-align-items-center">
            <ion-col size="4">Ciudad</ion-col>
            <ion-col size="8">
                <ion-select cancelText="Cancelar" placeholder="Seleccione un Municipio" [value]="contrato.ciudad" (ionChange)="actualizarmuni($event)">
                    <ion-select-option *ngFor="let muni of municipio">{{ muni }}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col size="4">Barrio</ion-col>
            <ion-col size="8">
                <ion-input #barrioInput rows="4" placeholder="Ingrese Barrio" [value]="contrato.barrio" (ionChange)="contrato.barrio = barrioInput.value">
                </ion-input>
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col size="4">Direccion</ion-col>
            <ion-col size="8">
                <ion-input #direccionInput rows="4" placeholder="Ingresa Direccion" [value]="contrato.direccion" (ionChange)="contrato.direccion = direccionInput.value">
                </ion-input>
            </ion-col>
        </ion-row>


        <ion-row class="ion-align-items-center">
            <ion-col size="4">Departamento Cobro</ion-col>
            <ion-col size="8">
                <ion-select cancelText="Cancelar" placeholder="Seleccione Departamento Cobro" [value]="contrato.departamentocobro" (ionChange)="actualizardptocobro($event)">
                    <ion-select-option *ngFor="let dpto of departamento">{{ dpto }}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>


        <ion-row class="ion-align-items-center">
            <ion-col size="4">Ciudad Cobro</ion-col>
            <ion-col size="8">
                <ion-select cancelText="Cancelar" placeholder="Seleccione Ciudad de Cobro" [value]="contrato.ciudadcobro" (ionChange)="actualizarmunicobro($event)">
                    <ion-select-option *ngFor="let muni of municipiocobro">{{ muni }}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col size="4">Barrio Cobro</ion-col>
            <ion-col size="8">
                <ion-input #barriocobroInput rows="4" placeholder="Ingrese Barrio Cobro" [value]="contrato.barriocobro" (ionChange)="contrato.barriocobro = barriocobroInput.value">
                </ion-input>
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col size="4">Direccion Cobro</ion-col>
            <ion-col size="8">
                <ion-input #direccioncobroInput rows="4" placeholder="Ingresa Direccion Cobro" [value]="contrato.direccionCobro" (ionChange)="contrato.direccionCobro = direccioncobroInput.value">
                </ion-input>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-button color="danger" (click)="guardar()">
                    Guardar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>